.button-icon_action_close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: 32px;
}

@media screen and (max-width: 576px) {
  .button-icon_action_close {
    right: 0;
    top: -35px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-height: 450px) and (min-width: 576px){
  .button-icon_action_close {
    right: -50px;
    top: 0;
  }
}

