.button-icon_action_add {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add.svg);
  background-size: 22px;
  border: 2px solid #FFF;
  border-radius: 2px;
  box-sizing: border-box;
}

@media screen and (max-width: 576px) {
  .button-icon_action_add {
    width: 100%;
    background-size: 14px;
  }
}

